# Discord Bot Configuration
# Copy file này thành .env và điền token thật của bạn

DISCORD_TOKEN=your_token_here


# Database
DB_PORT=1245
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=tu_tien